
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #b2b2b2;
    background: #330033;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #330033;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}


.failure{
  padding:  30px;
  margin: 0 auto;
    width:52%;
    
    text-align: center;}
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {

  top: 0;
  width:52%;
    text-align: center;
   background-color: #330033;
    position: fixed;

  overflow: hidden;
  background-color: #333;
  z-index: 1000;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar a {

  float: left;
  display: block;
  color: #FFFF00;
  text-align: center;
  padding: 3% 12%;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #b2b2b2;
 
  color: black;
}

#navbar a.active {
   background-color: #ddd;
  color: #330033;
}

/*  footer*/


.footer{
    background-color:#b2b2b2 ;
    height: 400px;
    margin: auto 0;
    position: relative;
    padding: 100px;
}


.bg-img{
   background-color:  #330033;

}
.description{
    position: relative;
    margin: auto 0;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
    color: #fff;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-linkedin:hover {
    background-color: #05cc46;
}
.fa-behance {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-behance:hover {
    background-color: #0057ff;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-github:hover {
    background-color: #24292e;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-deviantart {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #b2b2b2;
}
.fa-deviantart:hover {
    background-color: #05cc46;
}

